
body{
    background-image: url('https://images.unsplash.com/photo-1616843412755-356b9f8b30b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZGFyayUyMGNsb3Vkc3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
}

.myTable {
    display: block;
    border-collapse: separate;
    border-spacing: 1px 10px;
    height: 640px; 
    overflow-y: scroll;
}

.myTable th {
    background-color: black;
    position: sticky;
    top: 0;
    padding: 8px
}

.myTable td {
    padding: 2px 7px;
}

tr:nth-of-type(even) {
    background-color: #f24646;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }